node_modules/
.env
*.log
uploads/
firebase-service-account.json
# ignore fullExerciseApi.exercises.json
fullExerciseApi.exercises.json
# ignore config.env
config.env

# ignore meals_with_nutrition.json
meals_with_nutrition.json 



