node_modules/
.env
*.log
uploads/
firebase-service-account.json
# ignore fullExerciseApi.exercises.json
fullExerciseApi.exercises.json
# ignore config.env
config.env

# ignore meals_with_nutrition.json
meals_with_nutrition.json 

#ignore to-b-healthy-firebase-adminsdk-fbsvc-103ade8d6b
to-b-healthy-firebase-adminsdk-fbsvc-103ade8d6b.json


